@import "../node_modules/normalize-scss/sass/normalize/import-now";
@import "common.blocks/modal-window";

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.taskform {
    &__taskunit {
        display:		flex;
        flex-direction: column;
        margin:			10px;

        &:nth-child(odd) {
            background-color:	lightyellow;
        }

        &__taskunit > * {
            cursor:				pointer;
        }
    }

    &__semaphore {
        width:                      100px;
        height:                     300px;
        background-color:           #0b4951;
        display:                    flex;
        flex-direction:             column;
        justify-content:            space-around;
        align-items:                center;

        &_lamp {
            width:                  85px;
            height:                 85px;
            border-radius:          50%;
            background-color:           silver;
        }
    }
}

label p {
	margin: 			0 5px;
}

button {
	margin: 			10px 10px;
	cursor:				pointer;
	height: 			40px;
	width: 				140px;
}